body {
    background-image: url('https://www.updateordie.com/wp-content/uploads/2017/01/opera_neon_by_amdpastrana-davel12.jpg');
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
    }
  
  .menu{
    background-color: white;
    font-family: Arial;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
    
  }
  .menu li {
    list-style: none;  
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title{
    color: whitesmoke;
    text-align:center;
    
  }
  
  .site-subtitle{
    font-style:italic;
  }