/* soft reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background-image: url('../img/unnamed.jpg');
  background-color: indigo;
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
  font-size: 10px;
  }

  /*se a tela tiver no minimo 400px carrega */
  @media (min-width: 400px) {
    body {
      font-size: 14px;
      
    }
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.menu{
  background-color:whitesmoke;
  font-family: Arial;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu a {
display: block;
padding: 10px 20px;


}
.menu ul {
  display: flex;
  justify-content: space-around;
  
}
.menu li {
  list-style: none;  
}

a {
  color:teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.site-subtitle,
.site-title{
  color: whitesmoke;
  text-align:center;
  
}

.site-title {
  font-size: 4em;
  font-family: 'Balsamiq Sans', cursive;
  color: #00fa9a ;
}


.site-subtitle{
  font-style:italic;
  font-family: 'Balsamiq Sans', cursive;
  line-height: 1.5em;
}

.portifolio{
  padding: 1em;
}

.portifolio h2 {
  font-family: 'Balsamiq Sans', cursive;
  margin-bottom: 0.8em;
  font-size: 2em;
  color: whitesmoke;
  text-align: center;
}

.portifolio .grid{
  display: grid;
  gap: 2em;
  font-size: 18px;
  color: rgb(145, 255, 0);
     
}

@media (min-width: 560px){ 
  .portifolio .grid{
    grid-template-columns: 180px 240px;
  }
  
}
/*
@media (min-width: 880px){ 
  .portifolio.grid{
    grid-template-columns: repeat(2, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px)
  }
  
}*/

.portifolio figure {
  text-align: center;
}

.img-portfolio{
  width: 180px;
  height: 240px;
}



